.config/tmux/plugins/*
!.config/tmux/plugins/.keep

# Default ignore
.config/i3
.config/polybar
.config/xfce4
.config/libinput-gestures.conf
.config/picom.conf
.config/gdb

{{- $cfg := index .os .chezmoi.os -}}

{{ if and (hasKey $cfg "use_gdb") ($cfg.use_gdb) }}
!.config/gdb
{{ end }}

{{ if and (hasKey $cfg "use_xfce4_desktop") ($cfg.use_xfce4_desktop) }}
!.config/i3
!.config/polybar
!.config/xfce4
!.config/libinput-gestures.conf
!.config/picom.conf
{{ end }}

