/.local/share/yadm/*
!/.local/share/yadm/archive
/.local/bin/launch_mira
/.local/share/chezmoi/
/.local/share/dotfiles-backups/
/.config/chezmoi/
/.config/yadm/config

/.config/zsh/ohmyzsh/
/.config/zsh/zsh-autosuggestions/
/.config/zsh/zsh-syntax-highlighting/
/.config/zsh/fzf/
/.config/tmux/oh-my-tmux/
/.config/tmux/plugins/
/.config/gdb/gdb-dashboard/
