[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
  shallow = true
[submodule "h"]
	path = h
	url = git@github.com:JoverZhang/h.git

[submodule "config/neovim"]
	path = config/neovim
	url = git@github.com:JoverZhang/neovim-config.git
[submodule "config/zsh/oh-my-zsh"]
	path = config/zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
	shallow = true
[submodule "config/zsh/zsh-autosuggestions"]
	path = config/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	shallow = true
[submodule "config/zsh/zsh-syntax-highlighting"]
	path = config/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	shallow = true
[submodule "config/tmux/plugins/tmux-nova"]
	path = config/tmux/plugins/tmux-nova
	url = https://github.com/o0th/tmux-nova.git
	shallow = true
